/* 
=====================
Project: SOLAR SYSTEM
Author: PsychoCoder25
=====================
*/

/* 
=====================
	  RESET CSS
=====================
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* 
=====================
STAR ANIMATION START 
=====================
*/

#mainHeading {
	font-family: 'Raleway';
	margin-bottom: 20px
}
section {
	z-index: -2;
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #000200;
	display: flex;
	justify-content: center;
	align-items: center;
}

section h2 {
	color: transparent;
	font-weight: 900;
	font-size: 14em;
	-webkit-text-stroke: 2px #fff;
	text-transform: uppercase;
}

section .star {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	animation: animate 8s ease-in-out infinite,
			   backgroundmove 16s linear infinite;
}

section .star.star1 {
	animation-delay: 0s;
	background: url(../img/stars/star1.png);
}

section .star.star2 {
	animation-delay: -1s;
	background: url(../img/stars/star2.png);
}

section .star.star3 {
	animation-delay: -2s;
	background: url(../img/stars/star3.png);
}

section .star.star4 {
	animation-delay: -3s;
	background: url(../img/stars/star4.png);
}

section .star.star5 {
	animation-delay: -4s;
	background: url(../img/stars/star5.png);
}

section .star.star6 {
	animation-delay: -5s;
	background: url(../img/stars/star6.png);
}

section .star.star7 {
	animation-delay: -6s;
	background: url(../img/stars/star7.png);
}

section .star.star8 {
	animation-delay: -7s;
	background: url(../img/stars/star8.png);
}

@keyframes animate {
	0%, 20%, 40%, 80%, 100% {
	opacity: 0;
	}
	10%, 30%, 50%, 70%, 90% {
	opacity: 1;
	}
}

@keyframes backgroundmove {
	0% {
	transform: scale(1);
	}

	100% {
	transform: scale(2);
	}
}
/* 
====================
 STAR ANIMATION END 
====================
*/

.container {
	height: 100vh;
	z-index: 9;
	display: inline-block;
	padding: 30px;
	margin-left: 40vh;
	text-align: center;
	width: 800px;
	color: white;
}

#answer {
	margin-top: 15px;
	height: 420px;
	width: 800px;
	display: none;
	background-color: rgba(0,0,0,0.05);
}

#btn {
	color: white;
	background: none;
	border: 2px solid white;
	border-radius: 10px;
	padding: 8px;
	font-size: 20px;
	cursor: pointer;
	font-family: 'Staatliches';
	letter-spacing: 2px
}

#btn:hover {
	background: white;
	color: black;
}

#planetPicture {
	float: left;

}

#value {
	padding: 50px;
	float: right;
	margin-top: 150px;
	margin-right: 40px;
	font-family: 'Staatliches';
	letter-spacing: 2px
}

#planetImage {
	width: 300px;
	height: 300px;
	margin-top: 70px;
	margin-left: 40px;
}

#massInKG {
	background: none;
	border: none;
	border-bottom: 2px solid white;
	color: white;
	padding: 0px 5px 0px 5px;
	font-size: 20px;
	font-family: 'Staatliches';
}

select {
	background: none;
	color: white;
	-webkit-appearance: none;
	border: none;
	border-bottom: 2px solid white;
	padding: 0px 5px 0px 5px;
	font-size: 20px;
	font-family: 'Staatliches';
}

#mass, #planetsHeading {
	font-size: 25px;
	font-family: 'Staatliches';
	letter-spacing: 2px
}

#planetsHeading {
	margin-left: 40px;
	font-family: 'Staatliches';
}

#typed {
	text-transform: uppercase;
	letter-spacing: 2px
}